## Data Cleaning Call of Duty Cold War Weapons

In [28]:
import pandas as pd

### Creating DataFrame from CSV file

In [41]:
df = pd.read_csv("Call of Duty Cold War Weapons Stats.csv")

df.head()

,Name,Category,Type,Details,Unlocked Level,Magazine Size,Firepower %,Speed %,Accuracy %,Ammo %
0,XM4,Assault Rifles,Primary,Full-auto assault rifle. Reliable damage with ...,Default,30 rounds,36,40,46,30
1,AK-47,Assault Rifles,Primary,Full-auto assault rifle. high damage with a ma...,Level 7,30 rounds,50,35,30,33
2,Krig 6,Assault Rifles,Primary,Full-auto assault rifle. Improved damage and a...,Level 16,30 rounds,46,40,50,43
3,QBZ-83,Assault Rifles,Primary,Full-auto assault rifle. Superior mobility wit...,Level 31,30 rounds,42,50,40,35
4,FFAR 1,Assault Rifles,Primary,Full-auto assault rifle. Fast fire rate with q...,Level 40,25 rounds,38,43,35,40

### Locating Non-Nulls

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            64 non-null     object
 1   Category        64 non-null     object
 2   Type            64 non-null     object
 3   Details         64 non-null     object
 4   Unlocked Level  64 non-null     object
 5   Magazine Size   48 non-null     object
 6   Firepower %     64 non-null     int64
 7   Speed %         64 non-null     int64
 8   Accuracy %      64 non-null     int64
 9   Ammo %          64 non-null     int64
dtypes: int64(4), object(6)
memory usage: 5.1+ KB

### Removing the Details Columns

In [44]:
removal_df =df.drop(["Details", "Magazine Size"], axis=1)

removal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            64 non-null     object
 1   Category        64 non-null     object
 2   Type            64 non-null     object
 3   Unlocked Level  64 non-null     object
 4   Firepower %     64 non-null     int64
 5   Speed %         64 non-null     int64
 6   Accuracy %      64 non-null     int64
 7   Ammo %          64 non-null     int64
dtypes: int64(4), object(4)
memory usage: 4.1+ KB

### Checking for Duplicates

In [45]:
removal_df[removal_df.duplicated()]

Empty DataFrame
Columns: [Name, Category, Type, Unlocked Level, Firepower %, Speed %, Accuracy %, Ammo %]
Index: []

### Exporting to CSV file